{
  "name" : "Alert the Internets",
  "trailer" : "mediasnippets/title1.mp4",
  "youtube" : {
    "clientId" : "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
    "clientSecret" : "XXXXXXXXXXXXXXXXXXX"
  }
}
